body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url(walls.jpg);

    /* Full height */
    height: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    text-align: center;
}
.col-md-4 {

    border-radius: 15px 0 0 15px;
}
